*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.justify-content{
    justify-content:space-between
}

.flex-direction{
    flex-direction:column
}


nav{
    margin: auto;
    width: 70%;
    background-color: green;
}

.box{
    width: 150px;
    height: 100px;
    background-color: red;
}

.middle{
    width: 350px;
    height: 100px;
    background-color: red;
}

.cont-header{
    margin: auto;
    width: 50%;
    background-color: orange;
    width: 800px;
    height: 650px;
}

section{
    background-color: darkgray;
    margin-bottom: 20px;
}

.cont-main{
    margin: auto;
    width: 70%;
}


.img, .text{
    width: 650px;
    height: 450px;
    background-color: red;
}

.end-main{
    margin: auto;
    width: 70%;
}

.riga{
    width: 1335px;
    height: 450px;
    background-color: yellowgreen;
    margin-bottom: 10px;
}

.seconda{
    background-color: orange;
}